<a href="https://colab.research.google.com/github/kiprotich100/testrepo/blob/main/%5BPractice_Notebook%5D_AfterWork_Data_Analysis_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Practice Notebook: Data Analysis with Python

## Pre-requisites

In [ ]:
# Pre-requisite 1
# ---
# Importing pandas library for data manipulation
# ---
# OUR CODE GOES BELOW
#
import pandas as pd

In [ ]:
# Pre-requisite 2
# ---
# Importing numpy library for scientific computations
# ---
# OUR CODE GOES BELOW
#
import numpy as np

## 1. Data Exploration

### Examples

In [ ]:
# Viewing top records of the dataset
# ---
# You have been given the following dataset on Ebola cases.
# Let's preview the first 10 rows.
# ---
# Dataset url = https://bit.ly/2T60DKG
#
ebola_df = pd.read_csv('https://bit.ly/2T60DKG')
ebola_df.head(10)

In [ ]:
# Viewing last records of the dataset
# ---
# Preview the last 10 records of the ebola dataset
# ---
#
last_ebola_df = ebola_df.tail(10)
last_ebola_df

In [ ]:
# Taking a sample
# ---
# Take a sample of the 5 records from the ebola dataset
# ---
#
sample_ebola_df = ebola_df.sample(5)
sample_ebola_df

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# View the first 20 records of the given banknotes dataset
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# View the last 5 records of the above banknotes dataset
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Get a sample of 50 records from the above banknotes dataset
# ---
# OUR CODE GOES BELOW
#

## 2. Selecting Columns I

### Examples

In [ ]:
# Selecting a Column
# ---
# Select the first 5 values of the Value column from the previously used ebola dataset
# ---
#
ebola_df_value = ebola_df[['Value']]
ebola_df_value.head()

In [ ]:
# Selecting Multiple Columns I
# ---
# Select last 5 records from Country and Latitude column i.e. Lat, of the ebola dataset
# ---
#
ebola_df_country_lat = ebola_df[['Country', 'Lat']]
ebola_df_country_lat.tail()

# Method 2
# Uncomment the following lines
# ---
ebola_df_country_lat_method2 = ebola_df.iloc[:,[0, 3]]
ebola_df_country_lat_method2.tail()

In [ ]:
# Selecting Multiple Columns II
# ---
# Select last 5 records of the first 2 columns of the the ebola dataset
# ---
#
ebola_df_country_bonus = ebola_df.iloc[:,0:2]
ebola_df_country_bonus.head()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Select the first 20 records of the Diagonal column in the given banknotes dataset.
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Select a sample of 10 records from the Diagonal and conterfeit column using the banknotes dataset.
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# In prepartion for data modeling, you're required to select last 5 colums of the banknotes dataset.
# Once you do so, preview the dataframe to check whether you've selected the columns correctly.
# ---
# OUR CODE GOES BELOW
#

## 3. Selecting Columns II

### Examples

In [ ]:
# Selecting Unique Values in a column
# ---
# Let's select unique values from the Country column in the ebola dataset
# ---
#
ebola_countries = ebola_df['Country'].unique()

# We use the list() method to get a list else
# we would get an array.
# ---
#
list(ebola_countries)

In [ ]:
# Selecting Rows with Columns with certain values
# ---
# We will select all Liberia records
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records

In [ ]:
# Selecting Records with Columns without certain values
# ---
# We will select all other records apart from the Liberia ones.
# Let's confirm our result by checking a sample of 10 records.
# ---
#
other_country_records = ebola_df[~ebola_df.Country.isin(['Liberia'])]
other_country_records.sample(15)

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Select and preview the most similar banknotes length measurements?
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
#

In [ ]:
# Challenge 2
# ---
# Select and preview the least similar banknotes diagonal measurements?
# ---
#

In [ ]:
# Challenge 3
# ---
# How many banknotes had a left measurement and right measurement greater than 129?
# Get a sample of the records and later determine the no.
# Hint: Sample  Use len() to determine the no. of items.
# ---
#

## 4. Ranking / Sorting

### Examples

In [ ]:
# Sorting in Ascending / Descending Order
# ---
# From the ebola dataset sort the Guinea records in descending order
# ---
# OUR CODE GOES BELOW
#
guinea_records = ebola_df[ebola_df.Country.isin(['Guinea'])].sort_values(by='Value', ascending=1)
guinea_records.head()

In [ ]:
# Ranking in Ascending Order
# ---
# Create a new column that is the rank of the value of 'Value' in descending order
# ---
#
ebola_df['Ranking'] = ebola_df['Value'].rank(ascending=0)
ebola_df.head()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# From the ebola dataset, select the Mali records with more
# than 100 cases and sort them in descending order.
# ---
#

In [ ]:
# Challenge 2
# ---
# From the banknotes dataset, find out which records had the largest
# diagonal length? In addition, rank them by left size.
# ---
# Dataset url = https://bit.ly/2yT9oAU
# ---
#

## 5. Aggregate Functions

### Examples

In [102]:
# Example 1
# ---
# Shape
# ---
# How many Liberian records do we have in our ebola dataset?
# ---
# (records, columns)
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.shape

# (9 records, 7 columns)

(9, 7)

In [103]:
# Example 2
# ---
# Count() Function
# ---
# How many values do we have across our variables in our ebola dataset?
# ---
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.count()

Country    9
Month      9
Year       9
Lat        9
Lon        9
Value      6
Ranking    6
dtype: int64

In [101]:
# Example 3
# ---
# Unique Occurrences
# ---
# Were all records in our ebola dataset unique?
# ---
#
ebola_df[ebola_df.duplicated()].shape

# Yes, there were no duplicate records

(0, 7)

In [104]:
# Example 4
# ---
# Sum
# ---
# How many ebola cases in Sierra Leone were reported given the ebola dataset?
# ---
#
sierra_cases_sum = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].sum()
sierra_cases_sum

Value    3978.0
dtype: float64

In [105]:
# Example 5
# ---
# Minimum
# ---
# What was the minimum number of ebola cases?
# ---
#
least_cases = ebola_df.Value.min()
least_cases

1.0

In [106]:
# Maximum
# ---
# What was the maximum number of ebola cases?
# ---
#
highest_cases = ebola_df.Value.max()
highest_cases

3362.0

In [107]:
# Mean
# ---
# What was the average number of ebola cases in Sierra Leone?
# ---
#
sierra_cases_avg = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].mean()
sierra_cases_avg

Value    795.6
dtype: float64

In [108]:
# Mode
# ---
# What was the most frequent value in the Ebola dataset?
# ---
#
frequent_values_df = ebola_df['Country'].mode()
frequent_values_df

0    Guinea
Name: Country, dtype: object

In [109]:
# Median
# ---
# The median value of the Ebola cases.
# ---
#
median_values_df = ebola_df['Value'].median()
median_values_df

265.0

In [110]:
# Summary Statistics
# ---
# Create a descriptive statistics table of the given ebola dataset
# in preparation for further analysis.
# ---
#
ebola_df.describe()

          Month  Year        Lat        Lon        Value    Ranking
count  31.00000  31.0  31.000000  31.000000    22.000000  22.000000
mean    8.16129  14.0   9.328710 -10.097097   569.772727  11.500000
std     2.59611   0.0   3.026781   2.163978   816.056950   6.491753
min     3.00000  14.0   6.430000 -14.450000     1.000000   1.000000
25%     6.00000  14.0   6.430000 -11.780000    38.750000   6.250000
50%     8.00000  14.0   8.460000  -9.700000   265.000000  11.500000
75%    10.00000  14.0   9.950000  -9.430000   711.500000  16.750000
max    12.00000  14.0  17.570000  -4.000000  3362.000000  21.500000

### <font color="green">Challenges</font>

In [113]:
# Challenge 1
# ---
# How many records can be found in the following insurance dataset?
# ---
# Insurance Dataset
url = "https://bit.ly/2y5CRYc"
# ---
# This dataset contains anonymised patient data.
# ---
# OUR CODE GOES BELOW
#
df_insuarance = pd.read_csv(url)
df_insuarance.shape

(1338, 7)

In [116]:
# Challenge 2
# ---
# Are there any duplicates in the insurance dataset?
# ---
# OUR CODE GOES BELOW
#
df_insuarance[df_insuarance.duplicated()]
# Yes one record

     age   sex   bmi  children smoker     region  expenses
581   19  male  30.6         0     no  northwest   1639.56

In [141]:
# Challenge 3
# ---
# Which regions did the patients come from?
# ---
# OUR CODE GOES BELOW
#
list(df_insuarance.region.unique())

['southwest', 'southeast', 'northwest', 'northeast']

In [136]:
# Challenge 4
# ---
# What was the highest bmi recorded for patients from northwest and southwest regions?
# ---
# OUR CODE GOES BELOW
#
Highest_bmi_nw = df_insuarance[df_insuarance.region.isin(["northwest"])]["bmi"].max()
Highest_bmi_sw = df_insuarance[df_insuarance.region.isin(["southwest"])]["bmi"].max()
print("Highest bmi recorded for patients from northwest",Highest_bmi_nw)
print("Highest bmi recorded for patients from southwest",Highest_bmi_sw)

Highest bmi recorded for patients from northwest 42.9
Highest bmi recorded for patients from southwest 47.6

In [137]:
# Challenge 5
# ---
# What was the youngest age of a patient?
# ---
# OUR CODE GOES BELOW
#
age = df_insuarance.age.min()
print("The youngest age of a patient was", age)

The youngest age of a patient was 18

In [140]:
# Challenge 6
# ---
# What was the average bmi recorded for patients above 50 years old?
# ---
# OUR CODE GOES BELOW
#
avg_bmi = df_insuarance[df_insuarance.age > 50]["bmi"].mean()
print("The average bmi recorded for patients above 50 years old is: {:.2f}".format(avg_bmi))

The average bmi recorded for patients above 50 years old is: 31.71

In [144]:
# Challenge 7
# ---
# How much was spent collectively by male and female patients?
# ---
# OUR CODE GOES BELOW
#
total = df_insuarance.expenses.sum()
print("Male and female patients collectively spent:--> ", total)

Male and female patients collectively spent:-->  17755825.19

## 6. Grouping

### Examples

In [145]:
# Let's first load and preview the dataset that we will need for our examples
# ---
#
insurance_df = pd.read_csv('https://bit.ly/2y5CRYc')
insurance_df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [149]:
# Example 1
# ---
# The groupby() function is used to split the data into groups based on some criteria.
# ---
# We will start by grouping by a single column and including an aggregate function as shown.
# ---
# NB: We will not store any our dataframe in a variable for ease of
# performing computations
# ---
#
insurance_df.groupby('region').mean()

TypeError: Could not convert male to numeric

In [147]:
# Example 2
# ---
# We can get the first entry for each gender by doing the following
# ---
# NB: You can also get the last one too using last()
# ---
#
insurance_df.groupby('sex').first()

        age   bmi  children smoker     region  expenses
sex
female   19  27.9         0    yes  southwest  16884.92
male     18  33.8         1     no  southeast   1725.55

In [150]:
# Example 3
# ---
# We can group a single column by another column then apply an aggregate function as shown
# ---
#
insurance_df['expenses'].groupby([insurance_df['sex']]).sum()

# Method 2
# ---
# NB: The groupby output will have an index or multi-index on rows corresponding
# to our chosen grouping variables. To avoid setting this index,
# we pass as_index = False to the groupby operation
# ---
# insurance_df.groupby('sex', as_index = False)['expenses'].sum()

sex
female    8321061.23
male      9434763.96
Name: expenses, dtype: float64

In [151]:
# Example 4
# ---
# We can group the region column by another column i.e. bmi then apply an aggregate function
# as shown
# ---
#
insurance_df['bmi'].groupby([insurance_df['region']]).mean()

# Method 2
# ---
# insurance_df.groupby('region', as_index = False)['bmi'].mean()

region
northeast    29.176235
northwest    29.201846
southeast    33.359341
southwest    30.596615
Name: bmi, dtype: float64

In [157]:
# Example 5
# ---
# We can create a summary statistical table as shown below
# ---
insurance_df['expenses'].groupby([insurance_df['region']]).describe()

# Method 2
# ---
insurance_df.groupby('region', as_index = False)['expenses'].describe()

,region,count,mean,std,min,25%,50%,75%,max
0,northeast,324.0,13406.384691,11255.802916,1694.80,5194.3225,10057.655,16687.3650,58571.07
1,northwest,325.0,12417.575169,11072.276880,1621.34,4719.7400,8965.800,14711.7400,60021.40
2,southeast,364.0,14735.411538,13971.098797,1121.87,4440.8850,9294.130,19526.2875,63770.43
3,southwest,325.0,12346.937908,11557.179033,1241.57,4751.0700,8798.590,13462.5200,52590.83

In [153]:
# Example 6
# ---
# Further seeing how we can group a column by another column as shown
#
insurance_df['children'].groupby([insurance_df['region']]).sum()

# Method 2
# ---
#
# insurance_df.groupby('region', as_index = False)['children'].sum()

region
northeast    339
northwest    373
southeast    382
southwest    371
Name: children, dtype: int64

In [158]:
# Example 7
# ---
# Applying multiple aggregate functions after grouping a column by another column
# ---
#
insurance_df['expenses'].groupby([insurance_df['region']]).agg([min, max, sum])

# Method 2
insurance_df.groupby(['region'], as_index = False).agg({'expenses': [min, max, sum] })

      region expenses
                  min       max         sum
0  northeast  1694.80  58571.07  4343668.64
1  northwest  1621.34  60021.40  4035711.93
2  southeast  1121.87  63770.43  5363689.80
3  southwest  1241.57  52590.83  4012754.82

In [159]:
# Example 8
# ---
# We can also apply multiple aggregate functions after grouping a column by another column
# ---
#
insurance_df.groupby(['region', 'sex'], as_index = False).agg({'expenses': [min, max, sum] })

      region     sex expenses
                          min       max         sum
0  northeast  female  2196.47  58571.07  2085465.70
1  northeast    male  1694.80  48549.18  2258202.94
2  northwest  female  2117.34  55135.40  2046698.72
3  northwest    male  1621.34  60021.40  1989013.21
4  southeast  female  1607.51  63770.43  2362442.12
5  southeast    male  1121.87  62592.87  3001247.68
6  southwest  female  1727.79  48824.45  1826454.69
7  southwest    male  1241.57  52590.83  2186300.13

In [197]:
# Example 9
# ---
# Grouping by of multiple columns and then applying an aggregate function
# ---
#
insurance_df['expenses'].groupby([insurance_df['region'], insurance_df['sex']]).sum()

# Method 2
# ---
# insurance_df.groupby(['region', 'sex'], as_index = False)['expenses'].sum()

# Method 3
# ---
# insurance_df.groupby(['region', 'sex']).agg({'expenses': ['sum']})

region     sex
northeast  female    2085465.70
           male      2258202.94
northwest  female    2046698.72
           male      1989013.21
southeast  female    2362442.12
           male      3001247.68
southwest  female    1826454.69
           male      2186300.13
Name: expenses, dtype: float64

### <font color="green">Challenges</font>

In [164]:
# Let's load and preview the dataset that we will use for the given challenges.
# ---
# The dataset contains customer invoice data.
# ---
# Dataset
url = "https://bit.ly/SuperMarketSalesDB"
# ---
#
df_customer = pd.read_csv(url)
df_customer.sample(20)
df_customer.columns, df_customer.head()

(Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
        'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
        'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
        'Rating'],
       dtype='object'),
     Invoice ID Branch       City Customer type  Gender  \
 0  750-67-8428      A     Yangon        Member  Female
 1  226-31-3081      C  Naypyitaw        Normal  Female
 2  631-41-3108      A     Yangon        Normal    Male
 3  123-19-1176      A     Yangon        Member    Male
 4  373-73-7910      A     Yangon        Normal    Male

              Product line  Unit price  Quantity   Tax 5%     Total       Date  \
 0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
 1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
 2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
 3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
 4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

     Time      Payment    cogs  gross margin percentage  gross income  Rating
 0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
 1  10:29         Cash   76.40                 4.761905        3.8200     9.6
 2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
 3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
 4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3  )

In [191]:
# Challenge 1
# ---
# Question: What was the average tax per city?
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby("City")["Tax 5%"].mean()
74.69*7*1.05

548.9715

In [189]:
# Challenge 2
# ---
# Question: How much did female members from the city of Yagon spend?
# ---
# OUR CODE GOES BELOW
#
dict(df_customer.groupby(["Gender", "City"])["Total"].sum())[("Female", "Yangon")]

53269.167

In [192]:
# Challenge 3
# ---
# Question: How much was spent across all cities?
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby("City")["Total"].sum()

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

In [193]:
# Challenge 4
# ---
# Question: What was the sum of goods sold across all branches?
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby("Branch")["Quantity"].sum()

Branch
A    1859
B    1820
C    1831
Name: Quantity, dtype: int64

In [194]:
# Challenge 5
# ---
# Question: Which branches collected the most amount of money?
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby("Branch")["Quantity"].sum().max()

1859

In [196]:
# Challenge 6
# ---
# Question: Which were the top rated branches?
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby("Branch")["Rating"].sum()

Branch
A    2389.2
B    2263.6
C    2319.9
Name: Rating, dtype: float64

In [203]:
# Challenge 7
# ---
# Question: Make a comparison between non-members who made cash payments and credit card payments.
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby(["Payment","Customer type"]).describe().transpose()

Payment                 Cash             Credit card                 Ewallet  \
Customer type         Member      Normal      Member      Normal      Member
Unit price count  168.000000  176.000000  172.000000  139.000000  161.000000
           mean    59.051369   54.570795   54.386570   54.404245   55.183727
           std     26.749069   26.505808   26.334245   26.350940   27.078795
           min     10.080000   10.560000   10.180000   10.990000   10.130000
           25%     36.360000   31.465000   30.567500   33.295000   31.900000
...                      ...         ...         ...         ...         ...
Rating     min      4.000000    4.100000    4.000000    4.000000    4.000000
           25%      5.475000    5.800000    5.575000    5.350000    5.200000
           50%      6.700000    7.150000    7.200000    6.800000    6.900000
           75%      8.125000    8.500000    8.600000    8.400000    8.500000
           max      9.900000    9.900000   10.000000   10.000000   10.000000

Payment
Customer type         Normal
Unit price count  184.000000
           mean    56.227065
           std     26.068226
           min     10.750000
           25%     33.777500
...                      ...
Rating     min      4.000000
           25%      5.700000
           50%      6.900000
           75%      8.225000
           max     10.000000

[64 rows x 6 columns]

In [204]:
# Challenge 8
# ---
# Question: Show the products line that sold the most indicating the rating.
# ---
# OUR CODE GOES BELOW
#
df_customer.groupby(["Rating","Product line"])["Total"].sum()

Rating  Product line
4.0     Electronic accessories      99.3300
        Fashion accessories        103.6980
        Food and beverages        2071.4610
        Health and beauty         1101.5340
        Sports and travel          610.4910
                                    ...
9.9     Home and lifestyle          77.7735
        Sports and travel          896.9730
10.0    Electronic accessories     554.2950
        Health and beauty          339.3600
        Sports and travel         1186.6995
Name: Total, Length: 341, dtype: float64

## 7. Pivot Tables

### Examples

In [ ]:
# Example 1
# ---
# A pivot tables is a summary table and comprises of
# outcomes similar to the group by tables.
# ---
# We will start working with pivot tables by getting one column
# and applying an aggregate function as shown below
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc='mean')

In [ ]:
# Example 2
# ---
# Getting the first entry for each gender
# NB: You can get the last one too using last().
# In addition, note the that the columns have been arranged alphabetically.
# ---
#
pd.pivot_table(insurance_df, index=['sex'], aggfunc='first')

In [ ]:
# Example 3
# ---
# We can group a single column by another column then apply an aggregate function as shown
# ---
# We will use numpy to compute the mean
#
pd.pivot_table(insurance_df, index=['sex'], aggfunc={'expenses': np.mean})

In [ ]:
# Example 4
# ---
# Grouping region by another column i.e. bmi, applying an aggregate function
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'bmi': np.mean})

In [ ]:
# Example 5
# ---
# Using a pivote table, we can also create a summary statistical table as shown below
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'expenses': 'describe'})

In [ ]:
# Example 6
# ---
# Getting the no. of children in each region
# ---
#
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'children': sum})

In [ ]:
# Example 6
# ---
# Applying multiple aggregate functions to a group
# ---
#
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': [min, max, sum]})

In [ ]:
# Example 7
# ---
# Applying multiple aggregate functions to a group
# ---
#
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': sum})

### <font color="green">Challenges</font>

The challenges in this section will be same as the ones group by challenges. Compare your solutions with the ones you got in the previous section.

In [ ]:
# You will use the supermarket dataset you previously used.
# ---
# The dataset contains customer invoice data.
# ---
# Dataset url = https://bit.ly/SuperMarketSalesDB
# ---
#

In [ ]:
# Challenge 1
# ---
# Question: What was the average tax per city?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Question: How much did female members from the city of Yagon spend?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Question: How much was spent across all cities?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 4
# ---
# Question: What was the sum of goods sold across all branches?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 5
# ---
# Question: Which branches collected the most amount of money?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 6
# ---
# Question: Which were the top rated branches?
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 7
# ---
# Question: Make a comparison between non-members who made cash payments and credit card payments.
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Challenge 8
# ---
# Question: Show the products line that sold the most indicating the rating.
# ---
# OUR CODE GOES BELOW
#